.hero {
  margin-bottom: 132px;

  @include media($md3) {
    margin-bottom: 60px;
  }

  @include media($md4) {
    margin-bottom: 51px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10% 15px;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &--connection{
      background-image: url("../images/pierrot.jpg");
    }
  }

  &__content {
    max-width: 450px;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,.83);

    @include media($md2) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 500;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    color: $darkBlue-900;

    @include media($md2) {
      font-size: 40px;
      max-width: 257px;
      margin: 0 auto;
    }

    & span {
      font-size: 60px;
      color: $blue-900;
      font-weight: 500;
    }
  }

  &__description {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.5;
    color: $dark;

    @include media($md4) {
      font-size: 16px;
    }
  }
}